.contentsWrap { overflow: hidden; }

#intro { width: 100%; height: 100%; position: fixed; overflow: hidden; top: 0; }

#intro .video { position: relative; height: 100%; overflow: hidden; }

#intro .video:after { content: ""; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.8); }

#intro .video video { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; position: absolute; left: 0; top: 0; }

#intro .typing { position: absolute; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #fff; font-size: 64px; font-weight: 300; z-index: 2; text-transform: uppercase; text-shadow: 1px 1px 0px #111,2px 2px 0px #111,3px 3px 0px #111,4px 4px 0px #111,5px 5px 0px #111,6px 6px 0px #111,7px 7px 0px #111,8px 8px 0px #111,9px 9px 0px #111,10px 10px 0px #111,11px 11px 0px #111,12px 12px 0px #111,13px 13px 0px #111,14px 14px 0px #111,15px 15px 0px #111,16px 16px 0px #111,17px 17px 0px #111,18px 18px 0px #111,19px 19px 0px #111,20px 20px 0px #111,21px 21px 0px #111,22px 22px 0px #111,23px 23px 0px #111,24px 24px 0px #111,25px 25px 0px #111,26px 26px 0px #111,27px 27px 0px #111,28px 28px 0px #111,29px 29px 0px #111,30px 30px 0px #111,31px 31px 0px #111,32px 32px 0px #111,33px 33px 0px #111,34px 34px 0px #111,35px 35px 0px #111,36px 36px 0px #111,37px 37px 0px #111,38px 38px 0px #111,39px 39px 0px #111,40px 40px 0px #111,41px 41px 0px #111,42px 42px 0px #111,43px 43px 0px #111,44px 44px 0px #111,45px 45px 0px #111,46px 46px 0px #111,47px 47px 0px #111,48px 48px 0px #111,49px 49px 0px #111,50px 50px 0px #111;; }

#intro .typing strong { font-weight: 700; }

.contentsWrap { position: relative; z-index: 2; background-color: #fff; padding: 100px; margin-top: 100vh; }

.section { min-height: 100vh; }

.section h2 { font-size: 128px; font-weight: 700; text-transform: uppercase; position: relative; }

.section h2:after { content: ""; display: block; margin: 20px 0 50px; height: 1px; -webkit-transform-origin: 0 50%; transform-origin: 0 50%; background-color: #111; -webkit-transform: scaleX(1); transform: scaleX(1); }

.section .contents { min-height: 300px; }

#profile h2:after { background-color: #111; }

#career h2:after { background-color: #111; }

#skill h2:after { background-color: #111; }

#portfolio h2:after { background-color: #111; }

#contact h2:after { background-color: #111; }

#profile ul li, #career ul li, #contact ul li { margin: 15px 0; }

#profile ul li dl, #career ul li dl, #contact ul li dl { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 48px; font-weight: 500; }

#profile ul li dl dt .seperation, #career ul li dl dt .seperation, #contact ul li dl dt .seperation { display: inline-block; margin: 0 20px; }

#profile ul li dl dd, #career ul li dl dd, #contact ul li dl dd { font-weight: 700; }

#career { padding-top: 100px !important; }

#skill { padding-top: 100px !important; }

#skill .contents { padding-top: 100px; }

#skill ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#skill ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 24px; border-radius: 100%; width: 300px; height: 300px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 10px; text-align: center; }

#skill ul li dl { position: absolute; left: 50%; top: 50%; width: 100%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#skill ul li dl dt { font-size: 42px; }

#skill ul li dl dt .num { font-weight: 700; }

#skill ul li .round { position: relative; z-index: 2; }

#skill ul li .round svg { width: 300px; height: 300px; position: relative; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }

#skill ul li .round svg.bg { stroke: #ccc; }

#skill ul li .round svg.line { stroke: #111; position: absolute; left: 0; top: 0; stroke-dasharray: 1570; stroke-dashoffset: -850 !important; z-index: 2; }

#skill ul li .round svg circle { fill: transparent; stroke-width: 15px; stroke-linecap: round; }

#portfolio { padding: 100px !important; }

#portfolio #filter { margin-top: 150px; }

#portfolio #filter ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#portfolio #filter ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 150px; height: 50px; background-color: #111; color: #fff; font-size: 18px; border-radius: 100px; margin: 0 10px; cursor: pointer; overflow: hidden; }

#portfolio #filter ul li.on { background-color: #c92a2a; text-shadow: 1px 1px 0px #9f2121,2px 2px 0px #9f2121,3px 3px 0px #9f2121,4px 4px 0px #9f2121,5px 5px 0px #9f2121,6px 6px 0px #9f2121,7px 7px 0px #9f2121,8px 8px 0px #9f2121,9px 9px 0px #9f2121,10px 10px 0px #9f2121,11px 11px 0px #9f2121,12px 12px 0px #9f2121,13px 13px 0px #9f2121,14px 14px 0px #9f2121,15px 15px 0px #9f2121,16px 16px 0px #9f2121,17px 17px 0px #9f2121,18px 18px 0px #9f2121,19px 19px 0px #9f2121,20px 20px 0px #9f2121,21px 21px 0px #9f2121,22px 22px 0px #9f2121,23px 23px 0px #9f2121,24px 24px 0px #9f2121,25px 25px 0px #9f2121,26px 26px 0px #9f2121,27px 27px 0px #9f2121,28px 28px 0px #9f2121,29px 29px 0px #9f2121,30px 30px 0px #9f2121,31px 31px 0px #9f2121,32px 32px 0px #9f2121,33px 33px 0px #9f2121,34px 34px 0px #9f2121,35px 35px 0px #9f2121,36px 36px 0px #9f2121,37px 37px 0px #9f2121,38px 38px 0px #9f2121,39px 39px 0px #9f2121,40px 40px 0px #9f2121,41px 41px 0px #9f2121,42px 42px 0px #9f2121,43px 43px 0px #9f2121,44px 44px 0px #9f2121,45px 45px 0px #9f2121,46px 46px 0px #9f2121,47px 47px 0px #9f2121,48px 48px 0px #9f2121,49px 49px 0px #9f2121,50px 50px 0px #9f2121;; }

#portfolio #filter ul li a { width: 100%; text-align: center; }

#portfolio .itemList { margin: 100px auto; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#portfolio .itemList li { width: calc(33.33% - 20px); margin: 10px; background-color: #fff; border-radius: 5px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #eee; }

#portfolio .itemList li img { width: 100%; max-height: 300px; -o-object-fit: cover; object-fit: cover; }

#portfolio .itemList li h2 { font-size: 24px; padding: 20px 0; font-weight: 700; border-bottom: 1px solid #d9d9d9; }

#portfolio .itemList li p { line-height: 1.5; }

#portfolio .itemList li p strong { font-weight: 700; margin-left: 10px; }

#portfolio .itemList li .desc { line-height: 1.5; }

#portfolio .cursor { width: 10px; height: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; border-radius: 100px; background-color: #fff; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #fff; font-size: 18px; font-weight: 700; position: fixed; left: 100px; top: 100px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; pointer-events: none; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#contact { padding-top: 100px !important; }

#contact .formWrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#contact .formWrap form { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; padding-left: 100px; }

#contact .formWrap form .inputWrap { margin-bottom: 15px; }

#contact .formWrap form input, #contact .formWrap form textarea { height: 50px; background-color: #111; width: 100%; color: #fff; padding: 0 15px; border-radius: 5px; border: none; outline: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

#contact .formWrap form textarea { height: 300px; padding-top: 15px; resize: none; }

#contact .formWrap form .btns { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

#contact .formWrap form .btns button { height: 50px; width: 120px; background-color: #009cb1; color: #fff; border-radius: 5px; }

.fancybox__caption { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 30px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.fancybox__caption a { padding: 10px 20px; background-color: #0288e0; margin-left: 30px; border-radius: 5px; overflow: hidden; display: inline-block; text-shadow: 1px 1px 0px #0269ad,2px 2px 0px #0269ad,3px 3px 0px #0269ad,4px 4px 0px #0269ad,5px 5px 0px #0269ad,6px 6px 0px #0269ad,7px 7px 0px #0269ad,8px 8px 0px #0269ad,9px 9px 0px #0269ad,10px 10px 0px #0269ad,11px 11px 0px #0269ad,12px 12px 0px #0269ad,13px 13px 0px #0269ad,14px 14px 0px #0269ad,15px 15px 0px #0269ad,16px 16px 0px #0269ad,17px 17px 0px #0269ad,18px 18px 0px #0269ad,19px 19px 0px #0269ad,20px 20px 0px #0269ad,21px 21px 0px #0269ad,22px 22px 0px #0269ad,23px 23px 0px #0269ad,24px 24px 0px #0269ad,25px 25px 0px #0269ad,26px 26px 0px #0269ad,27px 27px 0px #0269ad,28px 28px 0px #0269ad,29px 29px 0px #0269ad,30px 30px 0px #0269ad;; }
